/* Allt i denna filen går ut på att ändra saker på hemsidan då bredden går under 640 pixlar. */

/* ------------ Main */
main {
    margin: 16px auto 40px;
    flex-direction: column;
}

#inside_main {
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 100%;
}
 
.two_column_main {
    flex-basis: 0;
    padding-left: 0;
    padding-right: 0;
}

.inside_two_column_main {
    min-width: 100%;
    max-width: 0;
}

/* .main_two_column_h2 { */
.two_column_upper_h2 {
    background-size: 40px;
    height: 40px;
    padding-left: 48px;
    font-size: 1.3rem;
}

#special_top_row_margin {
    margin: 0 0 1.5rem;
}

#inside_main_top_row_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#special_top_row_link {
    order: 2;
    width: 100%;
}

#special_top_row_image {
    order: 1;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
}

h4 {
    font-size: 1rem;
}

#one_column_bottom {
    margin: 0;
    width: 100%;
}

.two_column_lower_h2 {
    font-size: 1.125rem;
}

#one_column_main_middle {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
}

#inside_one_column_middle_left {
    max-width: 100%;
    padding-bottom: 0;
}

#inside_one_column_middle_right {
    border-left-color: #5f9e6c;
    border-left-style: solid;
    border-left-width: 2px;
    padding: 1rem;
}

#inside_inside_one_column_middle_right {
    border-top: 1px solid #ddd;
    padding-top: 2rem;
}

#special_padding_and_border_right {
    padding-right: 1rem;
}

#middle_h2 {
    font-size: 1.3rem;
}

aside {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
}

/* Efter att ha ändrat order i "below_1024.css" så måste de ändras tillbaka då man under 640 pixlar återgår till en kolumn igen. */
#special_aside1 {
    margin-right: 0;
    order: 1;
}

#special_aside2 {
    margin-right: 0;
    order: 2;
}

#special_aside3 {
    max-width: 100%;
    order: 3;
}

#special_aside4 {
    margin-left: 0;
    order: 4;
}

#special_aside5 {
    margin-left: 0;
    order: 5;
}

/* ------------------- FOOTER */

/* #items_container { */
/*     /1* background-color: brown; *1/ */
/*     /1* display: flex; *1/ */
/*     flex-direction: column; */
/*     /1* justify-content: space-evenly; *1/ */
/* } */

/* #inside_one_column_footer { */
/*     /1* background-color: olive; *1/ */
/*     /1* display: flex; *1/ */
/*     /1* flex-direction: column; *1/ */
/*     /1* width: 100%; *1/ */
/*     align-items: center; */
/* } */

/* #two_column_footer_container { */
/*     /1* background-color: plum; *1/ */
/*     /1* display: flex; *1/ */
/*     flex-direction: column; */
/*     width: 100%; */
/*     /1* flex-basis: auto; *1/ */
/* } */

/* .two_column_width { */
/*     width: 100%; */
/* } */

/* ------------------- SOCIAL FOOTER */

.padding_footer {
    padding-left: 0;
    padding-right: 0;
}

/* Har en fast höjd. */
#social_footer {
    height: 221px;
}

#inside_social_footer_container {
    height: 100%;
    max-width: 1200px;
    flex-direction: row;
    width: 200px;
    margin: auto;
    flex-wrap: wrap;
}

#social_text {
    display: block;
    text-align: center;
    width: 100%;
}

.social_links {
    background-size: 20px;
    padding: 5px 0 1rem 26px;
    margin: 0;
    width: 37%;
}
