header {
    background-color: darkgray;
}

main {
    /* margin: auto; */
    /* margin-top: 32px; */
    /* margin-bottom: 40px; */
    display: flex;
    flex-direction: column;
    margin: 32px auto 40px;
    padding: 8px 10px 4px;
    max-width: 1200px;
    background-color: brown;
}

.two_cols {
    background-color: firebrick;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
}

/* .one_col { */
/*     background-color: darkgreen; */
/*     display: flex; */
/*     flex-direction: column; */
/*     width: 100% */
/* } */

/* main    { */
/*     flex-direction: column; */
/*     /1* flex: 3 0px; *1/ */
/* } */

/* aside { */
/*     /1* width: 200px; *1/ */
/*     /1* display: flex; *1/ */
/*     /1* flex: 1 100%; *1/ */
/*     flex-direction: column; */
/*     flex-wrap: nowrap; */
/*     width: 100%; */
/*     background-color: forestgreen; */
/* } */

#aside_order_1 {
    order: 1;
}
#aside_order_2 {
    order: 2;
}
#aside_order_3 {
    order: 3;
}
#aside_order_4 {
    order: 4;
}
#aside_order_5 {
    order: 5;
}

/* ------------------- FOOTER */

#items_container {
    /* background-color: brown; */
    /* display: flex; */
    flex-direction: column;
    /* justify-content: space-evenly; */
}

#inside_one_column_footer {
    /* background-color: olive; */
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 100%; */
    align-items: center;
}

#two_column_footer_container {
    /* background-color: plum; */
    /* display: flex; */
    flex-direction: column;
    width: 100%;
    /* flex-basis: auto; */
}

.two_column_width {
    width: 100%;
}

/* ------------------- SOCIAL FOOTER */

.padding_footer {
    padding-left: 0;
    padding-right: 0;
}

#social_footer {
    height: 221px;
}

#inside_social_footer {
    /* align-items: center; */
    /* align-content: center; */
    /* justify-content: center; */
    /* padding: 1rem 0; */

    /* position: relative; */
    /* top: 50%; */
    /* transform: translatey(-50%); */

    height: 100%;
    max-width: 1200px;
    /* display: flex; */
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    width: 200px;
    margin: auto;
    flex-wrap: wrap;
    /* justify-content: center; */

    background-color: purple;
    /* white-space: nowrap; */
}

#social_text {
    display: block;
    text-align: center;
    width: 100%;
    /* font-size: 12px; */
    color: brown;
}

.social_links {
    /* font-size: 12px; */
    /* text-decoration: none; */
    /* border: none; */
    /* color: #adadad; */
    /* font-weight: 700; */
    /* background-image: url("images/small.png"); */
    background-size: 20px;
    /* background-repeat: no-repeat; */
    /* background-position: 0; */
    /* display: inline-block; */
    /* padding: 5px 0 2px 20px; */
    padding: 5px 0 1rem 26px;
    /* margin-left: 0; */
    margin: 0;
    width: 37%;

    /* TODO: FIXA SÅ ATT WIDTH ÄR RÄTT HÄR. använd calc(). */

    /* display: flex; */
    /* align-items: center; */
    /* align-content: center; */
}
