/* Allt i denna filen går ut på att ändra saker på hemsidan då bredden går under 1024 pixlar. */

main    {
    flex-direction: column;
}

/* ------------ Header */
input {
    width: 175px;
}

#header_logo {
    height: 42px;
    width: 298px;
}

/* ------------ Main */
#inside_main {
    min-width: 0;
    max-width: 100%;
}

aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
}

.item_inside_aside {
    flex-basis: calc(50% - 3.5rem);
    min-width: 0; 
}

/* Basklass för två kolumner i main. */
.inside_two_column_main {
    min-width: 0;
    max-width: 100%;
}

#one_column_main_middle {
    max-width: 100%; 
}

#inside_one_column_middle_left {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

/* ONE COLUMN - TOP i main. */
#special_top_row_margin {
    flex-basis: 0;
    min-width: 90%;
}

/* Alla rutor i aside får en annan ordning än när man har > 1023 pixlar då det går från en kolumn till två kolumner. Order har med flexbox att göra. */
#special_aside1 {
    margin-right: .75rem;
    order: 1;
}

#special_aside2 {
    margin-right: .75rem;
    order: 3;
}

#special_aside3 {
    max-width: calc(50% - 2.75rem);
    order: 5;
}

#special_aside4 {
    margin-left: .75rem;
    order: 2;
}

#special_aside5 {
    margin-left: .75rem;
    order: 4;
}
