/* ------------------------- FOOTER - BASE */
/* .links_footer { */
/*     color: #ffffff; */
/*     border-color: #ffffff; */
/*     text-decoration: none; */
/*     border-bottom: 2px solid white; */
/*     line-height: 1.5; */
/*     font-weight: 700; */
/* } */

/* Padding som ska användas i både "footer" och "social footer" */
.padding_footer {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* .text_color_white { */
/*     color: #ffffff; */
/* } */

/* ------------------------- FOOTER */
footer {
    height: 289px;
    width: 100%;
    background-color: #116a3e;
    border-top-style: solid;
    border-top-color: #0c4329;
    border-top-width: 0.5rem;
}

/* #inside_footer_container { */
/*     margin: auto; */
/*     max-width: 1200px; */
/*     display: flex; */
/*     flex-direction: column; */
/*     flex-wrap: nowrap; */
/*     justify-content: space-between; */
/*     padding-top: 2rem; */
/*     padding-bottom: 2rem; */
/* } */

/* #items_container { */
/*     background-color: brown; */
/*     display: flex; */
/*     flex-direction: row; */
/*     justify-content: space-evenly; */
/* } */

/* #one_column_footer { */
/*     background-color: pink; */
/*     width: 33.333%; */
/* } */

/* #inside_one_column_footer { */
/*     background-color: olive; */
/*     display: flex; */
/*     flex-direction: column; */
/*     width: 100%; */
/* } */

/* #footer_contacts_picture { */
/*     display: flex; */
/*     flex-direction: row; */
/*     flex-wrap: wrap; */

/* } */

/* #one_column_footer_h2 { */
/*     background-image: url("./images/kundtjanst.svg"); */
/*     background-size: 62px; */
/*     background-repeat: no-repeat; */
/*     background-position: left; */
/*     height: 62px; */
/*     padding-left: 76px; */
/*     margin-top: 0; */
/* } */

/* #two_column_footer_container { */
/*     background-color: plum; */
/*     display: flex; */
/*     flex-direction: row; */
/*     width: 66.666%; */
/*     flex-basis: auto; */
/* } */

/* .two_column_width { */
/*     width: 50%; */
/* } */

/* #one_column_footer_image { */
/*     width: 62px; */
/*     height: 62px; */
/* } */

/* #one_column_footer_title_text { */
/*     font-weight: 900; */
/*     white-space: nowrap; */
/* } */

/* #one_column_footer_telephone_number_text { */
/*     font-size: 20px; */
/*     color: #ecdf8c; */
/*     white-space: nowrap; */
/* } */

/* #one_column_footer_text { */
/*     line-height: 1.5; */
/* } */

/* #footer_visdomshord { */
/*     background-image: url("./images/citationstecken_background.svg"); */
/*     background-repeat: no-repeat; */
/* } */

/* ------------------------- SOCIAL FOOTER */

/* "Social footer" har alltid samma höjd så länge inte width är < 640 pixlar. */
#social_footer {
    background-color: #1b1e23;
    height: 57px;
    width: 100%;
}

#inside_social_footer_container {
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: auto;
    /* background-color: purple; */
}

#social_text {
    font-size: 12px;
    color: white;
}

.social_links {
    font-size: 12px;
    text-decoration: none;
    border: none;
    color: #adadad;
    font-weight: 700;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 0;
    display: inline-block;
    padding: 5px 0 2px 20px;
    margin-left: 20px;
}

/* Varje enskilt länk har en egen bild. */
#social_facebook {
    background-image: url("./images/social/20x20-facebook.png");
}

#social_instagram {
    background-image: url("./images/social/20x20-instagram.png");
}

#social_twitter {
    background-image: url("./images/social/20x20-twitter.png");
}

#social_linkedin {
    background-image: url("./images/social/20x20-linkedin.png");
}

#social_youtube {
    background-image: url("./images/social/20x20-youtube.png");
}
