/* ------------------------- FOOTER - BASE */

/* Padding som ska användas i både "footer" och "social footer" */
.padding_footer {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* ------------------------- FOOTER */
footer {
    height: 289px;
    width: 100%;
    background-color: #116a3e;
    border-top-style: solid;
    border-top-color: #0c4329;
    border-top-width: 0.5rem;
}

/* ------------------------- SOCIAL FOOTER */

/* "Social footer" har alltid samma höjd så länge inte width är < 640 pixlar. */
#social_footer {
    background-color: #1b1e23;
    height: 57px;
    width: 100%;
}

#inside_social_footer_container {
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: auto;
}

#social_text {
    font-size: 12px;
    color: white;
}

.social_links {
    font-size: 12px;
    text-decoration: none;
    border: none;
    color: #adadad;
    font-weight: 700;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 0;
    display: inline-block;
    padding: 5px 0 2px 20px;
    margin-left: 20px;
}

/* Varje enskilt länk har en egen bild. */
#social_facebook {
    background-image: url("./images/social/20x20-facebook.png");
}

#social_instagram {
    background-image: url("./images/social/20x20-instagram.png");
}

#social_twitter {
    background-image: url("./images/social/20x20-twitter.png");
}

#social_linkedin {
    background-image: url("./images/social/20x20-linkedin.png");
}

#social_youtube {
    background-image: url("./images/social/20x20-youtube.png");
}
