/* Samma font-family används på hela hemsidan. */
html {
    font-size: 16px;
    font-family: NeueHaas, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    background-color: #e6e6e6;
}

body {
    margin: 0;
}

/* Container för allt mellan header och footer. */
main {
    margin: 32px auto 40px;
    padding: 8px 4px 4px;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: nowrap;
}

/* Item/container i container "main" som ligger till vänster på skärmen när den är > 1023 pixlar bred. */
/* Se inside_main.css */
#inside_main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 738px;
    max-width: 894px;
}

/* Item i containern "main" som ligger till höger på skärmen när den är > 1023 pixlar bred. */
/* Se aside.css */
aside {
    flex-shrink: 2;
    flex-grow: 2;
    padding-left: .75rem;
    padding-right: .75rem; 
    min-width: 230px;
    max-width: 274px;
}

/* ------------------------- BASE */
/* Används nästan överallt i "main" (både i "inside_main" och "aside") för länkar. */

.main_lower_links {
    text-decoration: none;
    color: #1b1e23;
    border-bottom: 2px solid #99a2a2;
    line-height: 1.5;
    padding-bottom: 0;
    font-size: 1rem;
    font-weight: 700;
    transition: padding .15s ease-in-out;
}

.main_lower_links:hover {
    padding-bottom: 2px;
    color: #5f68e8;
    border-bottom: 2px solid #5f68e8;
}
